
.grid{
    background-image: url(space.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 350px 390px;
    width: 300px;
    height: 300px;
    border: solid black;
    display: flex;
   
    flex-wrap: wrap;
}

.grid div{
    width: 20px;
    height: 20px;
}

.encroacher{
background-color: rgb(18, 190, 49);
border-radius: 10px;
}

.shooter{
    background-color: rgb(205, 85, 151);
    border-radius: 500px;
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 23px; 
    }

.laser{
    background-color: rgba(230, 14, 14, 0.668);
}

.boom{
    background-color: red;
}

.results{
    
    display: flex;
    background-color: rgb(110, 54, 163);
    color: rgb(229, 62, 251);
    justify-content: center;
    width: 305px;
}